* {
  margin: 0px;
  padding: 0px;
  font-family: "inter";
  /* background-color: black; */
  overflow-x: hidden;
}

.m5-nav-link {
  color: white;
  text-decoration: none;
}

.m5-navbar {
  padding-inline: 15px !important;
  padding-bottom: 12px !important;
  border-bottom: solid 2px white;
  background-color: black;
}

hr {
  border: none;
  background-color: #ffffff;
  height: 3px;
  margin-inline: -12px;
  margin: 0rem 0 !important;
}

.hero-container {
  background-color: black;
}

.landing {
  height: 95vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.main-title {
  font-size: 90px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  animation-name: fade-in;
  animation-duration: 2s;
}

.about-sec {
  background-color: white !important;
}

.content {
  margin-block: 100px;
}
.our-services-sec {
  margin-top: 100px;
}
.service-container {
  margin-top: 30px;
  overflow-x: auto;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  scrollbar-width: none;
  flex-wrap: nowrap;
}

.service-container::-webkit-scrollbar {
  display: none;
}

.service-card {
  max-width: 33.333%;
  margin-right: 35px;
  flex-basis: 33.333%;
  padding: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid black;
  transition: 0.3s;
}

.service-card:hover {
  background-color: black;
  color: white;
}

.sub-heading {
  font-size: 45px;
  font-weight: 700;
}

.contact-info {
  background-color: black;
  padding-block: 50px;
}

.contact-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 40px;
}

.contact-info-input {
  width: 75%;
  max-width: 550px;
  margin: auto;
  color: white;
  padding: 6px;
  border: solid 1px white;
  background-color: black;
  outline: none;
}

.contact-info-input ::placeholder {
  color: white !important;
}

.submit-btn {
  padding: 5px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

.down-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
